@font-face {
    font-family: "SimSun";
    src: url("fonts/SimSun.ttf")
}

html {
    font-family: "SimSun";
    background-color: #008080;
   
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

a {
    color: #CC7BAD; 
}

b {
    font-weight: bolder;
}

.main {
    height: 100%;
    width: 75%;
    margin: auto;
    padding: 32px;
    padding-bottom: 8px;

    color: #777777;

    background-color: #B1B1B1;
    border-style: solid;
    border-color: #777777;
}

.block {
    height: 98%;
    padding: 1px;
    padding-bottom: 2px;

    margin: auto;

    margin-bottom: 1%;
}

.blockcol {
    width: 50%;
    margin: auto;
}

.collection {
    width: 100%;
    margin: auto;
}

.bigtext {
    font-size: 72px;
}

.lefttext {
    text-align: left;
}

.centered {
    text-align: center;
}

